#                                             VARIABLE  

VARIABLES ---> A CONTAINER OR BOX HAVING NAME WITH SOME ADDRESS

Address is not based on the variable name but on the container or box itself  

Variable is a container where we store the value

In python memory space is reserved automatically when we assign value to a variable 

equal sign (=) is used to assign values to variables.

The operand to the left of the = operator is the name of the variable and to the right of the = operator is the value stored
in the variable

Variables are also called as Tag as we assign some values to it

In [1]:
x=2      # here we have not got any output because we have just performed the assignment operation
         # here x is the name of the variable where we have stored the value 2

In [2]:
x+3      # here we have got the output bcoz we have stored the value in x variable as 2 so 2+3=5

5

In [3]:
y=5      # here we have again performed the assignment operation

In [4]:
x+y      # here we have added the x and y variable values  i.e 2+5

7

In [6]:
a = 5; d=10                           # Here integer values are assigned to the variable a and d as --> 5 and 10 
                                      # ; means end of the statement

In [8]:
print(a)                             # We can print each variable seperately
print(d)                             # Here print() is a function

5 10

In [9]:
b,c= 3.2 ,"Hello"                    # here b variable is assigned a float value--> 3.2 and
                                     # c variable is assigned a string value--> "Hello"

In [10]:
print(b,c)                           # we can even pass 2 or more variables in print function parenthesis at 1 time and get
                                     # the output at 1 go

3.2 Hello

In [9]:
d,e = "Rahul",25,88.25              # Error called as too many values to unpack bcoz variables are 2 but values are 3

ValueError: too many values to unpack (expected 2)

In [10]:
d,e,f = "Rahul",25                # Error bcoz not enough values to unpack bcoz variables are 3 but values are 2

ValueError: not enough values to unpack (expected 3, got 2)

**To know the class of any object**

In [11]:
a=5                     # variable a is assigned integer value ---> 5
b=3.2                   # variable b is assigned float value ---> 3.2

In [12]:
print(a)
print(b)

5
3.2

In [13]:
print(type(b))          # here we are finding class type of variable b by passing type() function inside print() function

float

In [20]:
print(a+b)              # output is 8.2 bcoz both the values are numeric

8.2

type() function returns class type of the argument(object) passed as parameter.

type() function is mostly used for debugging purposes.

If single argument type(obj) is passed, it returns the type of given object.

If 3 arguments type(name, bases, dict) is passed, it returns a new type object

#                                          MULTIPLE ASSIGNMENT

**Python allow us to assign a single value to several variables simultaneously**

In [21]:
a = b = c = 1
# Here integer object is created with the value 1 and all 3 variables are assigned to the same memory location.

In [22]:
a,b,c = 1                        # We cannot assign multiple variables a single value in this way

TypeError: cannot unpack non-iterable int object

**We can also assign multiple objects to multiple variables**

In [23]:
a,b,c = 1,2,"john"

# Here two integer objects with values 1 and 2 are assigned to variables a and b & 1 string object with the value "john" 
# is assigned to the variable c.

#                                  VARIABLE VALUES CAN BE CHANGED

In [16]:
x=9      # value of x variable that was 2 has been changed to 9
x+y      # here instead of old x variable value, it has taken the new asigned value i.e 9 and added y variable value to it

14

**OUTPUT OF THE PREVIOUS OPERATION CAN BE USED BY USING UNDERSCORE _**

In [21]:
_+6      # here instead of writing 14 of previous operation we have mentioned _ symbol and got correct answer

26

In [26]:
abc      # As we have not defined any variable of name abc we are getting NameError

NameError: name 'abc' is not defined

#                                          STRING VARIABLE

In [23]:
name='Rahul'      # here the variable name has taken the string value 'Rahul'

name              # here we have printed name and it is perfectly working

Rahul

#                                      VARIABLE CONCATENATION

In [24]:
name + 'Rowdy'      # here we have concatenated the name variable value i.e Rahul and individual string'Rowdy'

'RahulRowdy'

In [25]:
name 'Rowdy'   # here we are getting error bcoz space is given between name variable and 'Rowdy' string
               # addition symbol is missing between them so it won't work

SyntaxError: invalid syntax (<ipython-input-25-2524dbd8ed05>, line 1)

#                                     FETCHING CHARACTER FROM A STRING

In [40]:
name = "MAHADEV"

In [41]:
name[1]       #name variable have a string of 7 character\letter
              # here 2nd letter\character is fetched from 'MAHADEV' string in the name variable
              # output is 'A' instead of 'M' bcoz python takes 1st letter as 0,1,2,3,4,5.... from left to right--->

'A'

In [42]:
name[-2]      # output is 'E' bcoz python takes 1st letter from <-----right to left as <--- -3,-2,-1

'E'

In [43]:
name[:-2]     # take all characters from beginning till specified

'MAHAD'

**PRINTING 2 CHARACTER OF 'MAHADEV' STRING**

In [44]:
name[0:2]    # it means include character from 0 but exclude 2 where it is ending

'MA'

**PRINTING 3 CHARACTER OF 'MAHADEV' STRING**

In [45]:
name[1:4]   # it means include character from 1 but exclude 4 where it is ending

'AHA'

**WHEN WE DO NOT SPECIFY STARTING OR ENDING CHARACTER OF A STRING**

In [46]:
name[:3]    # it will start from 1st character i.e 'M' and end at 'H' excluding 'A'

'MAH'

In [47]:
name[1:]    # it will start from 2nd character i.e 'A' and take all the characters till last

'AHADEV'

Note -: Python also calculates space if the string has space in it
        
        So be alert while inserting string

**CASE WHERE THOUGH SUFFICIENT LETTERs NOT THERE,PYTHON PRINTS LETTER INSTEAD OF GIVING OUT OF RANGE ERROR**

In [48]:
name[2:10]

'HADEV'

**CHANGING THE CHARACTER\LETTER INSIDE THE STRING IS NOT POSSIBLE**

In [49]:
name[0:3]='RAH'    # here i tried changing MAH letter of string to RAH but could not succeed
                  # ERROR--> str' object does not support item assignment
                  # THIS MEANS STRINGS IN PYTHON IS IMMUTABLE(CANNOT BE CHANGED)

TypeError: 'str' object does not support item assignment

**SOLUTION TO THE ABOVE PROBLEM**

In [50]:
'RAH'+ name[2:5]    # here above problem is tackled smartly by concatenation and 'MAHADEV' is changed to 'RAHHAD'

'RAHHAD'

# TO KNOW THE LENGTH OF A STRING

In [51]:
myname='Rahul Dabade'   # here myname variable is assigned a string value 'Rahul Dabade'

In [52]:
len(myname)             # len stands for length(an in-built function to find length of a string)
                        # we have only 11 letters in a string but the space is also calculated inside the length

12

# MORE ON VARIABLES

**TO GET HELP RELATED TO ANY TOPIC IN PYTHON**

In [ ]:
help()               # once the help tab appears type topics 
                     # after typing topics we will get list of topics
                     # choose whicever topic you want to learn

**TO END THE HELP SESSION AND CONTINUE WITH THE CODES**

In [ ]:
quit()

**TO KNOW THE num VARAIBLE ADDRESS**

In [53]:
Num = 5               # here our variable name is num and value assigned to num is 5 but address is not visible

In [54]:
id(Num)                          # here 140724610438080 is the num variable address

140728612590528

**SIMILARLY WE CAN FIND ADDRESS FOR STRING**

In [55]:
name ='rahul'

In [56]:
id(name)                     # here 1811879020056 is the name variable address

2245131776496

In [57]:
id('rahul')                  # variable and the value addressed is same

2245131776496

**IF VARIABLES CONTAINS SAME VALUES THEY ARE ASSIGNED SAME ADDRESS (PYTHON IS MORE MEMORY EFFICIENT)**

In [7]:
a=10
b=a                             # it means a=b=10

In [58]:
print(a)
print(b)

5
3.2

In [59]:
id(a)                           # 140724610438240 is the a variable address 

id(b)                           # 140724610438240 is the b variable address

# Both the address are same

2245130503728

In python if we create multiple variables and if variables have same data they are pointed
to the same container or box thats why they contain same address

**EVERYTHING IN PYTHON IS AN OBJECT THAT IS WHY WE CAN FIND ADDRESS OF VALUES ALSO**

In [12]:
id(10)                          # 140703858988128 is the address of a variable integer value 10

140724610438240

**IF WE ASSIGN DIFFERENT VALUE FOR a IT'S ADDRESS CHANGES**

In [60]:
a=8
id(a)           # here we have assigned different value for a 
                # different value means different box thats why address is changed

140728612590624

**IF VALUE OF VARIABLE a CHANGES IT DOES NOT AFFECT VARIABLE b**

In [61]:
id(b)           # address of b is still referring to the old value

2245130503728

# GARBAGE COLLECTION (PYTHON CONCEPT)

Data in the memory not tagged by any variable is collected as garbage in python 

But if there is any reference to the data i.e any variable assigned values still exist it stays in python

In [62]:
a=8
k=a                           # value of variable a & k is 8 means address must be same but b is assigned value 9
b=9                           # if you remember the value given to b variable initially was 10 but now changed to 9
                              # means address of variable b must be changed
                              # but the initial value 10 is stored in the memory,so what happens with it is
                              # it is stored till it has some variable for reference
                              # if it dont have any variable for reference it is dumped into the garbage later

# CONSTANT

Something like immutable stuff of which we cannot change the value

In every programming language we can make a variable constant but in python we cannot

In [14]:
PIE=3.14            #here we can change the value of PIE to 3.15,3.16.... means we cannot keep any value constant in python
PIE

3.14

**TO KNOW THE TYPE OF VARIABLE**

In [18]:
type(PIE)               # demonstrating the variable type as float

float