# DATA TYPES IN PYTHON

**1. NONE**    ---> Variable not assigned any value is called as None (NULL)

**2. NUMERIC** --->

                                     a) INTEGER       ----> 21,331,41,51,61
                                   
                                     b) FLOAT         ----> 0.1,1.11.2.11,3.2
                                   
                                     c) COMPLEX       ----> a+bi            (we have number + or - imaginary number)
                                   
                                     d) BOOLEAN       ----> True,False      (we apply a condition here)

#            ---------------------------     SEQUENCE   ----------------------------------

**3. LIST**       --->        **[ ]**                                                                                                   

**4. TUPLE**   --->        **( )**

**5. SET**        --->        **{ }**

**6. STRING** --->   **"   " or '   '**

**7. RANGE**  --->   **0.....10**                   (when we iterate between values 10....100 etc we can use range)
                                                          

#      -----------------------------     END OF SEQUENCE   --------------------------------

**8. DICTIONARY(MAPPING)**    --->    **{ }**                            
                                                           (in dictionary we assign every number a unique key)

**TO KNOW THE TYPE OF NUM**

In [1]:
num=2
type(num)                                # here num type is integer

int

In [2]:
num=2.5
type(num)                                # here num type is float

float

In [3]:
num=9+6j
type(num)                                # here num type is complex

complex

**CONVERTING FROM FLOAT TO INTEGER**

In [4]:
a=10.2
b=int(a)                          # we will use int function and pass a inside it

In [5]:
print(b)

10

In [6]:
type(b)                           # here we have got type of b variable as integer

int

**CONVERTING FROM INTEGER TO FLOAT**

In [ ]:
c = 22                         
d = float(c)                       # we will use float function and pass c inside it

In [ ]:
print(d)

In [24]:
print(type(d))                         # here we have got type of c variable as float

22.0

**CONVERTING FROM NORMAL TO COMPLEX NUMBER**

In [8]:
a = 2                      
b = 4

In [9]:
e=complex(a,b)                 # we will use complex function and pass a and b inside it

In [10]:
print(e)

(2+4j)

In [11]:
print(type(e))                        # here we have got type of e variable as complex

<class 'complex'>

**TO GET BOOLEAN EXPRESSION WE APPLY A CONDITION**

In [14]:
a = 5
b = 10

In [15]:
a<b                            # True here is a boolean expression

True

In [ ]:
bool=a<b                       # we can assign condition to the variable as well

In [17]:
print(bool)

True

In [18]:
print(type(bool))              # here we have got type of bool variable as bool

<class 'bool'>

**PYTHON USES TRUE AS 1 AND FALSE AS 0**

In [19]:
int(True)                    # here we automatically gets the output as 1

1

In [39]:
int(False)                    # here we automatically gets the output as 0

0

# LIST [  ]

**TO KNOW THE TYPE OF LIST**

In [4]:
lst=[21,25.5,'rahul']      # list contains int,float and string value i.e different data types

In [5]:
print(lst)

[21, 25.5, 'rahul']

In [6]:
print(type(lst))           # here we have got type of lst as list only

<class 'list'>

In [7]:
lst[0:2]                  # values stored in the list can be accessed using slice operator

[21, 25.5]

# SET { }

In [13]:
s = {20,21,22,23,22,25}

In [14]:
print(s)                          # never follows the sequence in which we have added the element
                                  # In set any number repeated twice is presented in output only once 
                                  # Indexing is not supported in set bcoz we don't have proper sequence

{20, 21, 22, 23, 25}

In [12]:
print(type(s))                    # here we have got type of s as set only

<class 'set'>

# TUPLE ( )

In [15]:
tup=(25,36,4,57,12)             # Can consist different data types seperated by commas and enclosed within parenthesis()

In [17]:
print(tup)

(25, 36, 4, 57, 12)

In [18]:
print(type(tup))                    # here we have got type of tup as tuple

<class 'tuple'>

# STRING  "...." OR '....'

In [20]:
str = "Rahul"

In [21]:
print(str)

Rahul

In [22]:
print(type(str))                  # here we have got type of str as string

<class 'str'>

# RANGE

In [23]:
range(10)

range(0, 10)

**TO KNOW WHAT VALUES WE HAVE IN RANGE ---> CONVERT RANGE INTO A LIST**

In [29]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

**TO HAVE RANGE WITH DIFFERENT ITERATION i.e DIFFERENT DIFFERENCES**

In [30]:
list(range(2,10,2))                   # here starting value is 2 ending value is 10 and we want difference of 2
                                      # range takes 3 parameter as well

[2, 4, 6, 8]

**TO KNOW TYPE OF RANGE**

In [33]:
print(type(range(10)))                      # here type of range is range

<class 'range'>

# DICTIONARY

Dictionary are unordered collection of data values

Keys are unique but values not

Values can be of any type

keys must be immutable data such as string number tuples

In [36]:
dict = {'rahul':'mi','sonam':'samsung','abhi':"vivo"}   # we have used {} bcoz key must not repeat & what does not repeat is set
                                                         # here 'rahul','sonam','abhi' are keys 
                                                         # 'mi','samsung','vivo' are values
                                                         # keys and values have to be seperated by colon

In [37]:
print(dict)

{'rahul': 'mi', 'sonam': 'samsung', 'abhi': 'vivo'}

**TO KNOW WHAT ARE KEYS**

In [38]:
dict.keys()                             # 'rahul','sonam,'abhi' are keys here

dict_keys(['rahul', 'sonam', 'abhi'])

**TO KNOW THE VALUES**

In [39]:
dict.values()                           # mi', 'samsung', 'vivo' are values here

dict_values(['mi', 'samsung', 'vivo'])

**TO GET A PARTICULAR VALUE WE NEED TO TYPE A KEY**

In [40]:
dict['rahul']                           # we can use square [] bracket

'mi'

**1 MORE WAY OF FETCHING THE VALUE**

In [41]:
dict.get('sonam')                      # here get function means fetch

'samsung'

#                                       STANDARD DATA TYPES

The data stored in memory can be of many types.

Example-: A person's age is stored as a numeric value and his or her address is stored as alphanumeric characters.

Python has various standard data types that are used to define the operations

Python has 5 standard data types 

1) Numbers
2) String
3) List
4) Tuple
5) Dictionary