#  TUPLES

Tuple are similar to the list. 

A tuple consists of different data types separated by commas.

Tuples are enclosed within parentheses ()

The main differences between lists and tuples are:

Lists are enclosed in square brackets [ ] and their elements and size can be changed

While tuples are enclosed in parentheses ( ) and cannot be updated.

To update a tuple is not allowed

Tuple is same as list we can have collection of different values

The only difference is that list is mutable whereas tuple are immutable

Since change of values in tuple is not possible,iteration is faster in tuple than in list

In [2]:
tup1 = ('physics', 'chemistry', 1997, 2000);
tup2 = (1, 2, 3, 4, 5 );
tup3 = "a", "b", "c", "d";

In [4]:
print(type(tup3))

<class 'tuple'>

In [ ]:
# Empty tuple is written as

tup1 = ()

In [ ]:
# To write a tuple containing a single value, we have to include a comma even though there is only one value

tup1 = (50,)

**Like string indices, tuple indices start at 0, and can be sliced, concatenated and so on**

# Accessing Values in Tuples

To access values in tuple, use square brackets for slicing along with the index or indices to obtain value available at that index

In [1]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5, 6, 7 )
print("tup1[0]: "), tup1[0]
print("tup2[1:5]: "), tup2[1:5]

tup1[0]:
tup2[1:5]:

(None, (2, 3, 4, 5))

# Updating Tuples

Tuples are immutable which means we cannot update or change the values of tuple elements.

We are able to take portions of existing tuples to create new tuples

In [3]:
tup1 = (12, 34.56)
tup2 = ('abc', 'xyz')

                                                           # Following action is not valid for tuples
                                                           # tup1[0] = 100;

# let's create a new tuple as follows

tup3 = tup1 + tup2
print(tup3)

(12, 34.56, 'abc', 'xyz')

# Delete Tuple Elements

Removing individual tuple elements is not possible

#### To explicitly remove an entire tuple, just use the del statement

In [6]:
tup = ('physics', 'chemistry', 1997, 2000);
print(tup)
del tup
print("After deleting tup : ")
print(tup)

('physics', 'chemistry', 1997, 2000)
After deleting tup :

NameError: name 'tup' is not defined

# Basic Tuples Operations

Tuples respond to + and * operators much like strings 

they mean concatenation and repetition except that the result is a new tuple, not a string

In fact, tuples respond to all of the general sequence operations we used on strings

In [7]:
len((1, 2, 3))                                           # Length

3

In [8]:
(1, 2, 3) + (4, 5, 6)                                    # Concatenation

(1, 2, 3, 4, 5, 6)

In [ ]:
('Hi!',) * 4                                             # Repetition

In [ ]:
3 in (1, 2, 3)                                           # Membership

In [ ]:
for x in (1, 2, 3):                                      # Iteration
    print(x)

# Indexing, Slicing, and Matrixes

As tuples are sequences, indexing and slicing work the same way for tuples as they do for strings.

In [ ]:
L = ('spam', 'Spam', 'SPAM!')

In [ ]:
L[2]                                        
L[-2] 
L[1:]

In [ ]:
tup = ('abcd', 786 , 2.23, 'john', 70.2)
tinytuple = (123, 'john')

print(tup)                                        # Prints complete list
print(tup[0])                                     # Prints first element of the list
print(tup[1:3])                                   # Prints elements starting from 2nd till 3rd 
print(tup[2:])                                    # Prints elements starting from 3rd element
print(tinytuple * 2)                              # Prints list two times
print(tup + tinytuple)                            # Prints concatenated lists

# No Enclosing Delimiters

Any set of multiple objects, comma-separated, written without identifying symbols, i.e brackets [ ],( ),{ }

In [12]:
'abc', -4.24e93, 18+6.6j, 'xyz';

In [22]:
x, y = 1, 2
"Value of x , y : ", x,y
print(type(x))

<class 'int'>

In [26]:
x = 1,2,3,4,5
print(type(x))

<class 'tuple'>

# Built-in function of python

In [16]:
tup2 = (120,11,12.25)

#### length

In [17]:
len(tup2)                                   # Gives the total length of the tuple.

3

#### maximum

In [18]:
max(tup2)                                   # Returns item from the tuple with max value.

120

#### minimum

In [19]:
min(tup2)                                   # Returns item from the tuple with min value.

11

# Some function (methods) in tuple

#### count

In [20]:
tup2.count(120)

1

#### index

In [21]:
tup2.index(120)

0

# Tuples are immutable

In [3]:
tup[1]=40               # we cannot change the value in tuple
                        # ERROR : 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

# Assigning single value

In [ ]:
tup1 = (50,)            # To assign tuple a single value you have to include a comma

#  ------------------------------- CODES FROM IMARTICUS   ----------------------------------

In [1]:
# Creating a tuple

a= (5,'python', 10+2j)                              # For tuple we use () and for list []
print(type(a))

<class 'tuple'>

In [2]:
print(a[0])

5

In [3]:
# Creating a tuple with no records (empty tuple)

c=()
print(type(c))

<class 'tuple'>

In [6]:
c = tuple("Python")
print(type(c))

<class 'tuple'>

In [5]:
n_tuple = ('mouse',[8,4,6],(1,2,3),8)
print(n_tuple[1])

[8, 4, 6]

In [7]:
n_tuple[2][1]=0                         # Error tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [9]:
del n_tuple[1]                         # Error 'tuple' object doesn't support item deletion

TypeError: 'tuple' object doesn't support item deletion

In [11]:
del n_tuple                            # name 'n_tuple' is not defined

print(n_tuple)

NameError: name 'n_tuple' is not defined