# SETS

Contains multiple data types enclosed within curly bracket and seperated by comma 

Collection of unique elements 

Uses the concept of # to fetch the element as fast as possible

Never follow the sequence in which we have added the element

It does not promote ordering therefore indexing is not supported

Mutable as a whole but individual element is not mutable

In [ ]:
s={22,25,14,21,5}                           #  in set we use curly { } bracket
s                                           #  set never follows the sequence in which we have added the element

#### Elements repeated twice is presented in set only once

In [2]:
s={2,12,22,32,12}                          # in set any number eg-:12 though repeated twice is presented in output only once
s                                          # set does not support duplicate values
                                           # it does not do sorting bcoz duplicate values are not considered

{2, 12, 22, 32}

#### Indexing is not supported in set

In [3]:
s[2]                                    # in set indexing is not supported bcoz here we dont have proper sequence

TypeError: 'set' object is not subscriptable

## Some functions (method) in set

#### add

In [4]:
s.add(25)
s

{2, 12, 22, 25, 32}

#### copy

In [6]:
s.copy()

{2, 12, 22, 25, 32}

#### difference

In [7]:
s.difference()

{2, 12, 22, 25, 32}

#### difference_update

In [8]:
s.difference_update()

#### discard

In [10]:
s.discard(2)

In [11]:
print(s)

{12, 22, 25, 32}

#### intersection

In [ ]:
s.intersection()

##### isdisjoint

In [ ]:
s.isdisjoint()

##### issubset

In [ ]:
s.issubset()

#### issuperset

In [ ]:
s.issuperset()

#### pop

In [13]:
s.pop()

32

In [14]:
s

{12, 22, 25}

#### remove

In [ ]:
s.remove()

#### symmetric_difference

In [ ]:
s.symmetric_difference()

#### symmetric_difference_update

In [ ]:
s.symmetric_difference_update()

#### union

In [ ]:
s.union()

#### update

In [ ]:
s.update()

# ------------------------------         CODES FROM IMARTICUS        -------------------------------------

## Creating a set

In [22]:
my_set1 = {1, 2.0,"Hello", "Manish",(1,2,4)}
print(my_set1)

{1, 2.0, (1, 2, 4), 'Hello', 'Manish'}

## Elements repeated twice is presented only once in set

In [16]:
my_set = {1,2,3,5,7,6,4,3,2,10,38,72,16}
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 38, 72, 10, 16}

## Float and Integer having same value is considered only once

In [24]:
my_set2 = {1,1.0, 2, (2, 4)}      
print(my_set2)

{1, 2, (2, 4)}

## Set does not support indexing

In [25]:
my_set

{1, 2, 3, 4, 5, 6, 7, 10, 16, 38, 72}

In [2]:
my_set[1]                     # This will give error bcoz we are trying to fetch by using index num which sets doesn't support

{1, 2, (2, 4)}

TypeError: 'set' object is not subscriptable

## Creating empty set creates dictionary and not set

In [26]:
a = {}                        # This will create dictionaries data type class
print(type(a))

<class 'dict'>

## Updating individual element in set is not possible

In [30]:
my_set[0]=1                         # Error bcoz 'set' object does not support item assignment

TypeError: 'set' object does not support item assignment

## Deleting individual element in set is not possible

In [31]:
my_set = {1, 3, 4, 5, 6}
print(my_set)

{1, 3, 4, 5, 6}

In [32]:
del my_set[3]                             # Error bcoz set' object doesn't support item deletion

TypeError: 'set' object doesn't support item deletion

## Some function (methods) in sets

#### add

In [38]:
my_set

{(10, 11), (8, 9), 1, 12, 15, 2, 3, 4, 5, 6, 7, 8}

In [39]:
my_set.add(8)                                              # To add only 1 value in set we use add()
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8, (10, 11), 12, 15, (8, 9)}

#### update

In [37]:
my_set

{(10, 11), (8, 9), 1, 12, 15, 2, 3, 4, 5, 6, 7, 8}

In [35]:
my_set.update([6,8], {1,4,5}, (15,12))                     # To add more than 1 values in set
                                                           # Lists cannot be added but here it will add bcoz it takes 
                                                           # only value irrespective of which class it is
print(my_set)

{1, 3, 4, 5, 6, 8, 12, 15}

In [36]:
my_set.update({1,2,3,4,5,6,7,(8,9),(10,11)})
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8, (10, 11), 12, 15, (8, 9)}

#### remove

In [40]:
my_set = {1, 3, 4, 5, 6}
print(my_set)

{1, 3, 4, 5, 6}

In [41]:
my_set.remove(6)
print(my_set)

{1, 3, 4, 5}

#### Union

In [42]:
A = {1, 2, 3, 4, 5,9}
B = {4, 5, 6, 7, 8,10}

In [43]:
print(A.union(B))                                 # Manually ---> print(A | B)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

#### intersection

In [44]:
A = {1, 2, 3, 4, 5,9}
B = {4, 5, 6, 7, 8,10}

In [45]:
print(A.intersection(B))                          # Manually ---> print(A & B)

{4, 5}

#### Difference

In [46]:
A = {1, 2, 3, 4, 5,10}
B = {4, 5, 6, 7, 8}

print(B.difference(A))                           # Manually ----> print(A - B)

{8, 6, 7}

#### Adding tuple in set

In [48]:
my_set

{(10, 11), (8, 9), 1, 12, 15, 3, 4, 5, 6, 8}

In [47]:
my_set.update([6,8],{1,4,5},(15,12),((8,9),(10,11)))     # Just create a nested tuple to add in set.

print(my_set)

{1, 3, 4, 5, 6, (10, 11), 8, 12, 15, (8, 9)}